<p>How many courses would you like to take this quarter?</p>

<%= bootstrap_form_for(@user, url: { action: :update_number_of_courses },
		       layout: :horizontal, control_col: "col-xs-3") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.select :number_of_courses, @possible_num_courses,
	       label: "Number of Courses" %>

  <%= f.form_group do %>
    <%= f.submit "Update desired number of courses",
	class: "btn btn-primary", data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
