<h2>My <%= formatted_quarter_by_params %> Course Requests</h2>

<br />

<%= render 'num_courses' %>

<br />

<ul>
<% @courses_bids.each do |c, b| %>
  <li>
    <%= c.number %> (<%= c.title %>)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= preference(b) %>
  </li>
<% end %>
</ul>
