<% if :courses_present %>
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>Number</th>
	<th>Title</th>
	<th>Instructor</th>
	<th>Time</th>
	<th>Location</th>
	<% if can? :manage, :all %>
	  <th>Published?</th>
	  <th>Student Summary</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
	<% if course.published? or (can? :manage, :all) %>
	<tr>
	  <td><%= course.number %></td>
	  <td><%= q_link_to course.title, course %></td>
	  <td><%= display_name(course.instructor) %></td>
	  <td><%= course_time(course) %></td>
	  <td><%= course_location(course) %></td>
	  <% if can? :manage, :all %>
	    <td><%= course.published? ? "Yes" : "No" %></td>
	    <td><%= q_link_to course.total_top_picks, course,
	            :student_requests_course %></td>
	  <% end %>
	</tr>
	<% end %>
      <% end %>
    </tbody>
  </table>

  <% if can? :manage, :all %>
    <p>Total number of students: <%= @courses.first.number_of_students %></p>
    <p>Total number of enrollments: <%= number_of_enrollments(@courses) %></p>
  <% end %>

<% else %>
  <p>There are currently no published courses.</p>
<% end %>
