<table class="table table-bordered project-form-show">
  <tbody>
    <tr>
      <th>Title</th>
      <td><%= @course.title %> (<%= @course.number %>)</td>
    </tr>

    <tr>
      <th>Quarter</th>
      <td><%= formatted_quarter(@course.quarter) %></td>
    </tr>

    <% if can? :manage, @course %>
      <tr>
	<th>Date created</th>
	<td><%= @course.created_at.to_date %></td>
      </tr>
    <% end %>

    <% if can? :change, @course %>
      <tr>
	<th>Status</th>
	<td><%= formatted_status(@course) %></td>
      </tr>
    <% end %>

    <tr>
      <th>Instructor</th>
      <td><%= course_instructor %></td>
    </tr>

    <tr>
      <th>Website</th>
      <td><%= simple_format(@course.website) %></td>
    </tr>

    <tr>
      <th>Syllabus</th>
      <td><%= render_syllabus(@course.syllabus) %></td>
      <%#= simple_format(@course.syllabus, {}, sanitize: false) %>
    </tr>

    <% if current_user %>
      <tr>
	<th>Prerequisites (Courses)</th>
	<td><%= simple_format(@course.course_prerequisites) %></td>
      </tr>

      <tr>
	<th>Prerequisites (Other)</th>
	<td><%= simple_format(@course.prerequisites) %></td>
      </tr>

      <tr>
	<th>Satisfies</th>
	<td><%= simple_format(@course.satisfies) %></td>
      </tr>

      <tr>
	<th>Time</th>
	<td><%= simple_format(@course.time) %></td>
      </tr>

      <tr>
	<th>Location</th>
	<td><%= simple_format(@course.location) %></td>
      </tr>
    <% end %>

  </tbody>
</table>
