<h2>Past Courses</h2>

<% if Quarter.count > 0 %>

  <%= bootstrap_form_tag(url: { action: :global_index },
			 layout: :inline, control_col: "col-xs-3") do |f| %>

    <%= f.select :season, Quarter.seasons, selected: form_season %>

    <%= f.select :year, Quarter.years, selected: form_year %>

    <%= f.form_group do %>
      <%= submit_tag "View courses", class: "btn btn-primary" %>
    <% end %>

  <% end %>

  <br/>

  <% if @courses.present? %>
    <%= render 'courses' %>
  <% else %>
    <p>
      There are no courses in this quarter.
    </p>
  <% end %>

<% else %>
  <p>
    There are no quarters in the system.
  </p>
<% end %>
