<h2><%= formatted_quarter_by_params %> Courses</h2>

<br />
<br />

<% if can? :manage, :all %>
  <%= link_to( "Create a course",
	       new_course_path(year: @quarter.year, season: @quarter.season),
	       { class: "btn btn-primary" } ) %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to( "#{formatted_quarter_by_params} course drafts",
	       courses_drafts_path(year: @quarter.year,
				  season: @quarter.season)) %>
<% end %>

<br />
<br />

<% if @published_courses.present? or can? :manage, :all %>
  <%= render 'student_bidding_deadline' %>
<% end %>

<% if @future_quarters.present? %>
  <% @future_quarters.each do |q| %>
    <p>
      Quarter <%= formatted_quarter(q) %> will open for bidding on
      <%= q.course_submission_deadline.strftime("%A, %B %d, %Y") %>.
    </p>
  <% end %>
<% end %>

<% if @published_courses.present? or can? :manage, :all %>
  <%= render 'courses', courses_present: @published_courses.present? %>
<% else %>
  <p>
    The bidding period for the MPCS opens on Week 5 of the quarter. The list of
    courses will be published at that time.
  </p>
<% end %>
