<h2><%= formatted_title(@course) %></h2>

<% if can? :update, @course %>
  <div>
    <p>
      Click <%= q_link_to "here", @course, :edit_course %>
      to edit this course's information.
    </p>

    <% if can? :admin, @course %>
      <p>
	Click <%= q_link_to "here", @course, :course, method: :delete,
	      data: { confirm: "Are you sure? You cannot undo this action." } %>
	to delete this course.
      </p>
    <% end %>
  </div>
  <br>
<% end %>

<%= render('student_bidding_deadline', quarter: @quarter) if signed_in? %>

<%= render 'course_long', object: @course %>

<% if (can? :save_bid, Course) and @course.biddable? %>
  <p>
    You can bid for this course on your
    <%= link_to "My Requests", my_requests_path(year: @quarter.year,
						season: @quarter.season) %>
    page.
  </p>
<% end %>
