<%# Must be signed in to see this. %>
<%# The current quarter's information. %>
<li class="dropdown" id="dropdown-<%= quarter.year %>-<%= quarter.season %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= formatted_quarter(quarter) %>
      <span class="caret"></span>
  </a>

  <ul class="dropdown-menu" role="menu">
    <%# Projects %>
    <li>
      <%= link_to "Courses",
          courses_path(year: quarter.year, season: quarter.season) %>
    </li>
    <% if (can? :view_my_courses, User) or can? :view_my_bids, User %>
      <li class="divider"></li>
    <% end %>

    <%# Student's applications %>
    <% if can? :view_my_bids, User %>
      <li>
	<%= link_to "My requests",
	    my_requests_path(year: quarter.year,
			     season: quarter.season) %>
      </li>
      <li>
	<%= link_to "My schedule",
	    my_schedule_path(year: quarter.year,
			     season: quarter.season) %>
      </li>
    <% end %>

    <%# Advisor's projects %>
    <% if can? :view_my_courses, User %>
      <%= course_submission_navbar_link(quarter) %>
      <li>
	<%= link_to "My courses",
	    my_courses_path(year: quarter.year, season: quarter.season) %>
      </li>
      <li>
	<%= link_to "My students",
	    my_students_path(year: quarter.year, season: quarter.season) %>
      </li>
    <% end %>

    <%# Administrative pages %>
    <% if can? :manage, :all %>
      <li>
	<%= link_to "Course drafts",
	    courses_drafts_path(year: quarter.year, season: quarter.season) %>
      </li>
    <% end %>
  </ul>
</li>
